@import "tailwindcss";

@theme {
   --font-sans: "Montserrat", sans-serif, system-ui;
   --font-display: "Boska", "Lora";
}

@utility container {
   margin-inline: auto;
   padding-inline: 4rem;
}

:root {
   @apply antialiased;
}

@utility heroicons--arrow-up-right {
   display: inline-block;
   width: 1rem;
   height: 1rem;
   --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m4.5 19.5l15-15m0 0H8.25m11.25 0v11.25'/%3E%3C/svg%3E");
   background-color: currentColor;
   -webkit-mask-image: var(--svg);
   mask-image: var(--svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-size: 100% 100%;
   mask-size: 100% 100%;
}
